{% extends 'base.html.twig' %}

{% block title %}Nouvelle Categorie
{% endblock %}

{% block body %}
	<div class="container py-5 d-flex">

		<div class="card w-75 p-4 me-5">
			<h4>Créer une categorie</h4>
			{{ include('categorie/_form.html.twig') }}
		</div>

		<div class="ms-auto">
			<div class="text-center mb-4">
				<span class="border rounded-5 border-success p-4">
					<i class="bi bi-basket3-fill fs-1 text-success"></i>
				</span>
			</div>

			<div class="">
				<p>Illustrez le charme unique de vos catégories artisanales en téléchargeant des images qui capturent l'essence de chaque métier. Des photos de haute résolution mettront en avant la qualité et l'authenticité de vos produits artisanaux, suscitant l'intérêt et l'admiration des clients. Assurez-vous de respecter les spécifications suivantes pour une intégration harmonieuse sur votre site :</p>
				<ul>
					<li>Format : JPG, PNG ou WEBP</li>
					<li>Taille maximale : 1 Mo</li>
					<li>Dimensions recommandées : 800x800 pixels pour une visualisation optimale</li>
				</ul>
				<p>Après le téléchargement, vous aurez la possibilité de prévisualiser et d'organiser les images. Les images que vous téléchargez ici apparaîtront dans la galerie d'images du produit sur votre page de vente.</p>
			</div>
		</div>

	</div>
	{# <a href="{{ path('app_categorie_index') }}">back to list</a> #}
{% endblock %}
