<section class="vh-100" style="background-color: #eee;">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-md-12 col-xl-4">

				<div class="card" style="border-radius: 15px;">
					<div class="card-body text-center">
						<div class="mt-3 mb-4">
							<img src="https://static.vecteezy.com/ti/vecteur-libre/p3/16208597-travail-du-bois-avec-coupe-de-bois-par-un-artisan-et-un-ouvrier-moderne-a-l-aide-d-outils-definis-dans-une-illustration-de-modele-dessine-a-la-main-de-dessin-anime-plat-vectoriel.jpg" class="rounded-circle img-fluid" style="width: 100px;"/>
						</div>
						<h4 class="mb-2">{{artisan.nom}}</h4>
						<p class="text-muted mb-4">{{artisan.numero}}
						</p>
						<div class="mb-4 pb-2">
							<button type="button" class="btn btn-outline-success btn-floating">
								<i class="bi bi-whatsapp"></i>
							</button>
							<button type="button" class="btn btn-outline-dark btn-floating">
								<i class="bi bi-twitter-x"></i>
							</button>
							<button type="button" class="btn btn-outline-primary btn-floating">
								<i class="bi bi-linkedin"></i>
							</button>
						</div>
						<button type="button" class="btn btn-success btn-rounded btn-lg">
							Envoyer un message
						</button>
						<div class="d-flex justify-content-between text-center mt-3 mb-2">
							{{artisan.description}}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
